:root {
    --bg: #D4FFFF;
    --bg-highlight: #c1f7ef;
    --line: rgba(0, 0, 0, 0.4);
    --text: #333;
    --text-muted: #555;
    --heading: #111;
    --a: #585858;
    --active: #000;
    --focus: #444;
    --bad: #782121;
}

*:focus {
    /* remove dotted outline from links */
    outline: none;
}

html {
    touch-action: pan-y pinch-zoom; /* no touch delays */
}

body {
    font-family: sans-serif;
    background: var(--bg);
    color: var(--text);
    font-size: 14px;
    display: flex;
    margin: 0;
    line-height: 1.2em;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; /* prevent layout shift when searching or navigating */
}

* {
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 22px;
    letter-spacing: 4px;
    color: #333;
    margin-top: 66px;
}

#astralbrowser {
    background: linear-gradient(to bottom, var(--bg-highlight) -200px, transparent 200px);
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 1px 1px 2px #0002;
}


#astralbrowser td:last-child {
    font-size: 14px;
}

input {
    /* safari hides cursor otherwise */
    user-select: text !important;
}

input,
a.button {
    font-size: 20px;
    padding: 4px 9px;
    margin: 8px 0;
    border-radius: 0;
    font-family: var(--sans-serif);
    user-select: none;
}

#astralbrowser-toolbar-search input {
    outline: 1px solid var(--line);
    background: white;
    border-width: 0;
}

#astralbrowser-toolbar-search input:focus {
    outline: 1px solid var(--focus);
    background: white;
    border-width: 0;
}

a,
a:visited {
    color: var(--a);
    text-decoration: none;
}

a:hover {
    color: var(--active) !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
    user-select: text;
    font-size: 16px;
    border-radius: 3px;
    overflow: visible;
}

table th,
table td {
    text-align: left;
    padding: 10px 5px;
    padding: 0.6em;
    vertical-align: middle;
}

table thead th {
    border-bottom: 1px solid var(--line);
    color: var(--heading);
}

table tbody th {
    border-right: 1px solid var(--line);
    color: var(--heading);
}

table p {
    text-align: justify;
    text-justify: inter-word;
}

table tr:nth-child(even) {
    background: var(--bg-highlight);
}

table tr.selected {
    outline: 2px solid var(--active);
}

.warningbox {
    background: var(--bad);
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    margin: 40px 0;
    user-select: none;
    font-family: var(--sans-serif);
}

.astralbrowser-progress {
    background: var(--bg-highlight) !important;
    height: 2px !important;
}

.astralbrowser-progress-bar {
    background: var(--line) !important;
    height: 2px !important;
}

.astralbrowser-status {
    font-size: 18px;
    font-style: italic;
    color: var(--text-muted);
}
