*:focus {
    /* remove dotted outline from links */
    outline: none;
}

html {
    touch-action: pan-y pinch-zoom; /* no touch delays */
}

body {
    font-family: sans-serif;
    background: #b3eaff;
    color: #111;
    font-size: 14px;
    display: flex;
    margin: 0;
    line-height: 1.2em;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll; /* prevent layout shift when searching or navigating */
}

* {
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 22px;
    letter-spacing: 4px;
    color: #333;
    margin-top: 66px;
}

#astralbrowser {
    background: linear-gradient(to bottom, #ac9df7 -800px, #c1f7ef66 600px);
    width: 100%;
    max-width: 1200px;
    margin: 50px 0;
    padding: 20px;
    box-shadow: 1px 1px 3px #0002;
    border: 1px solid #0002;
}


#astralbrowser td:last-child {
    font-size: 14px;
}

input {
    /* safari hides cursor otherwise */
    user-select: text !important;
}

input,
a.button {
    font-size: 20px;
    padding: 4px 9px;
    margin: 8px 0;
    border-radius: 0;
    font-family: var(--sans-serif);
    user-select: none;
}

#astralbrowser-toolbar {
    margin-bottom: 20px;
}

#astralbrowser-toolbar-search input {
    outline: 1px solid rgba(0, 0, 0, 0.4);
    background: white;
    border-width: 0;
}

#astralbrowser-toolbar-search input:focus {
    outline: 1px solid #444;
    background: white;
    border-width: 0;
}

a,
a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #000 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    user-select: text;
    font-size: 16px;
    border-radius: 3px;
    overflow: visible;
}

table th,
table td {
    text-align: left;
    padding: 10px 5px;
    padding: 0.6em;
    vertical-align: middle;
}

table thead th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

table tbody th {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

table p {
    text-align: justify;
    text-justify: inter-word;
}

table tr:nth-child(even) {
    background: #0001;
}

table tr.selected {
    outline: 2px solid #000;
}

.warningbox {
    background: #782121;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    margin: 40px 0;
    user-select: none;
    font-family: var(--sans-serif);
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    10% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 25%;
    }

    90% {
        margin-left: 100%;
        margin-right: 0;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

.astralbrowser-progress {
    background: #c1f7ef !important;
    height: 2px !important;
}

.astralbrowser-progress-bar {
    background: rgba(0, 0, 0, 0.4) !important;
    height: 2px !important;
}

.astralbrowser-progress-bar-nondeterministic {
    animation: running-progress 2s infinite linear;
}

.astralbrowser-status {
    font-size: 18px;
    font-style: italic;
    color: #555;
}
